@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @* @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

    <div class="container body-content" id="siteMap">
        @Html.MvcSiteMap().Menu(false, true, true)
    </div>

    <div class="container body-content">
        @RenderBody()
        <label> <input type="radio" value="All" name="chart" id="radioAll" onchange="ShowChart()" checked="checked" />Show all responses</label><br />
        <label> <input type="radio" value="MinMax" name="chart" id="radioMinMax" onchange="ShowChart()" />Show min/max responses </label><br />
        <label> <input type="radio" value="TenSlowest" name="chart" id="radioTenSlowest" onchange="ShowChart()" /> Show 10 slowest responses </label><br />

        <div id="ContainerAll" style="min-width: 1140px; height: 400px; margin: 0 auto"></div>
        <div id="ContainerMinMax" style="min-width: 1140px; height: 400px; margin: 0 auto" hidden="hidden"></div>
        <div id="ContainerTenSlowest" style="min-width: 1140px; height: 400px; margin: 0 auto" hidden="hidden"></div>

        <hr />
            @*<table class="table" id="resultTable">
                <thead>
                    <th>Url запроса</th>
                    <th>Среднее время запроса</th>
                    <th>Самый долгий запрос | время</th>
                    <th>Самый быстрый запрос | время</th>
                    <th>Количество запросов</th>
                </thead>
                <tbody class="table-striped">
                </tbody>
            </table>*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ScriptFolder/JavaScript.js"></script>
</body>
</html>