@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a href="@Url.Action("AboutInner_1", "AboutInner")">GetMoreLibraries</a>
<a href="@Url.Action("AboutInner_2", "AboutInner")">GettingStarted</a>
<a href="@Url.Action("AboutInner_3", "AboutInner")">WebHosting</a>
