@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a href="@Url.Action("AboutInner_1", "AboutInner")">AboutInner_1</a><br />
<a href="@Url.Action("AboutInner_2", "AboutInner")">AboutInner_2</a><br />
<a href="@Url.Action("AboutInner_3", "AboutInner")">AboutInner_3</a><br />
